*{
    margin: 0;
    padding: 0;
    cursor: url(/My\ cursor.png), auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body{
    background-color:#8c7ae6 ;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: all 0.20s;
  display: flex;
  margin: 60px auto;
  cursor: url(/pointer.png),auto;
}

.button-24:hover,
.button-24:active {
  background-color: white;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
