@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto","Arial",sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ABABAB;
    cursor: pointer;
}
:root{
    --hoverColor: #292929;
    --border-Color: #c1c1c1;
    --youtubeColor: #FF0000;
}

::selection{
    background-color: #FF0000;
    color: white;
}

header{
    display: flex;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    /* background-color: #ffffff; */
}
body{
    background: black;
    color: white;
}
.left{
    display: flex;
    flex-basis: 175px;
    align-items: center;
    justify-content: center;
}

.menuDiv{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.15s ;
}
.menuDiv:hover{
    background-color: var(--hoverColor);
}

.menu{
    width: 25px;
}

.youtubeLogo{
    cursor: pointer;
    width: 90px;
    margin-left: 10px;
    position: relative;
}

.youtubeLogo::after{
    content: "BD";
    position: absolute;
    top: -10px;
    font-size: 9px;
    color: #aaa;
    cursor: pointer;
    right: -9px;
}

.middel {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.inputs{
    display: flex;
    align-items: center;
    flex-basis: 90%;
    justify-content: center;
}
.inputs input{
    width: 70%;
    padding: 11.7px 20px;
    background-color: transparent;
    border: 1px solid #303030;
    border-radius: 30px 0 0 30px;
    color: white;
    outline: none;
}
.searchDiv{
    padding: 9.3px 15px;
    display: flex;
    margin-right: -7px;
    align-items: center;
    justify-content: center;
    background: transparent;
    /* background-color: #222222; */
    background-color: transparent;
    border-radius:0 30px 30px 0;
    cursor: pointer;
    border: 1px solid hsl(0,0%,18.82%);
    transition: background-color 0.15s;
}
.searchDiv:hover{
    background-color: var(--hoverColor);
}
.search{
    width: 20px;
}

.voiceDiv{
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    transition: all 0.15s;
    cursor: pointer;
}
.voiceDiv:hover{
    background-color: var(--hoverColor);
}
.voice{
    width: 25px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 170px;
}

.right div{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    justify-content: center;
    margin-right: 10px;
}

.right div div{
    width: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}
.notification{
    position: relative;
}
.notification::after{
    content: "9+";
    position: absolute;
    top: 9px;
    right: 2px;
    background-color: var(--youtubeColor);
    color: white;
    padding: 2px 5px;
    border-radius: 15px;
    font-size: 11px;
}


.right img{
    cursor: pointer;
    width: 32px;
    border-radius: 50%;
    transition: all 0.15s;
}

.right img:hover{
    outline: 2px solid #9393938a;
}

.right div div:hover{
    background-color: var(--hoverColor);
}

@media (max-width:545px) {
    .inputs input{
        display: none;
    }
    .inputs{
        flex-basis: auto;
        margin-right: 3px;
    }
    .middel{
        justify-content: end;
    }
    .searchDiv{
        border-radius: 50%;
        padding: 14px;
        background-color: transparent;
        border: none;
    }
    .right{
        width: 120px;
    }
    .searchDiv:hover{
        background-color: var(--hoverColor);
    }
    .right{
        display: none;
    }
}

@media (min-width:1000px) {
    .inputs input {
        width: 500px !important;
}
}

@media (max-width:270px) {
    .voiceDiv{
        display: none;
    }
}


nav{
    height: 300px;
    width: 80px;
    position: fixed;
    top: 56px;
    bottom: 0;
    display: grid;
    justify-content: space-between;
    justify-content: center;
    row-gap: 10px;
    padding: 15px 0;
}


.home,.Shorts,.subscriptions,.you{
    width: 23px;
    margin: auto;
}
.navDiv{
    display: grid;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.15s;
}

.navDiv:hover{
    background-color: var(--hoverColor);
}

nav span{
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    margin-top: -27px;
}

@media (max-width:545px) {
    nav{
        display: none;
    }
}


main{
    height: 100%;
    margin-top: 57px;
    column-gap: 9px;
    margin-left: 80px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 
    repeat(auto-fit, minmax(320px,1fr));
}

.box{
    display: grid;
    border-radius: 7px;
    padding: 10px;
    grid-template-rows: 1fr 80px;
}

.photo{
    width: 100%;
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s;
}
.photo img:hover{
    border-radius: 0;
}

.profile{
    display: flex;
    align-items: start;
    margin-top: 5px;
}
.profile img{
    border-radius: 50%;
    width: 36px;
    cursor: pointer;
    margin-top: 5px;
}

.link{
    color: white;
}

.textImg{
    display: grid;
    grid-template-columns: 42px 1fr;
}
.info{
    font-size: 14px;
    margin-top: 5px;
    line-height: 22px;
}
.name,.view{
    margin: 3px 0;
    font-size: 12px;
    color: #757575;
}

@media (max-width:545px) {
    main{
        width: 100%;
        margin-left: 0;
    }
}

footer{
    background-color: transparent;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #3d3d3d;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer p,a{
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    color: #757575;
}
footer a{
    cursor: pointer;
    transition: all 0.20s;
}
footer a:hover{
    border-bottom: 1px solid var(--youtubeColor);
    color: var(--youtubeColor);
}
details{
    display: inline-block;
    margin-left: 4px;
}
summary{
    font-size: 12px;
    color: #757575;
    list-style: none;
    cursor: pointer;
}

summary:hover{
    color: var(--youtubeColor);
}